.order-detail {
    margin: 2rem auto 6rem auto;
    padding: 1rem 2rem;
    max-width: 20rem;
    text-align: center;
  
    background-color: #ea946f;
    border-radius: 5px;
    box-shadow: 0 0 3px #444;
  }
  